name: Test Docker
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          load: true
          tags: gpajot/qbee-gpio:test
