name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.x"
      - name: Install dependencies
        run: uv sync --locked
      - name: Run format
        run: uv run --locked ruff format --check .
      - name: Run lint
        run: uv run --locked ruff check .
      - name: Run type check
        run: uv run --locked ty check
      - name: Run tests
        run: uv run --locked pytest -v
